<template>
    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">

        </div>
    </div>
</template>

<script>
    const menuOptions = [
        {
            id: 'edit',
            label: 'Edit',
            icon: 'edit'
        }
    ];

    export default {
        data() {
            return {
                menuOptions,
                showAlert1: true
            }
        }
    }

</script>


<style>

</style>