<template>
    <div class="restaurant">
        <header>
            <h2>{{ content.name }}</h2>
        </header>

        <div class="restaurant-image">
        </div>

        <div class="restaurant-description">
            <span v-for="type in content.types">
                {{ type }},
            </span>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['content']
    }
</script>


<style lang="scss" scoped="">

</style>