<template>
    <div id="lunch-picker">
        <menu-lunch-picker></menu-lunch-picker>

        <div v-for="restaurantObject in restaurants">
            <restaurant :content="restaurantObject"></restaurant>
        </div>

    </div>
</template>

<script>
    import Menu from './components/Menu/Menu.vue';
    import Restaurant from './components/Restaurant/Restaurant.vue';

    const restaurants = [
        {
            id: 1,
            name: 'Pizzeria',
            img: 'path/to/file',
            types: [
                'Italian', 'Chinese'
            ]
        },
        {
            id: 2,
            name: 'Chinese restaurant',
            img: 'path/to/file',
            types: [
                'Chinese', 'Vietnamese'
            ]

        }
    ];

    export default {
        name: 'app',
        components: {
            'menu-lunch-picker': Menu,
            'restaurant': Restaurant
        },
        data() {
            return {
                restaurants: restaurants
            }
        }
    };
</script>

<style lang="scss">
    #lunch-picker {
        width: 1280px;
        margin: 0 auto;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;

    }
</style>
